.case-study {
    display: flex;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: 45px;
    gap: 64px;
    padding: 70px 60px;
    margin-top: 80px;
    font-size: 18px;
}

.case-study img {
    width: 41px;
}

.case-study-text {
    border-right: 1px solid var(--color-light);
    padding-right: 64px;
}

.case-study-text:last-child {
    border-right: none;
}


.wp-01,
.wp-02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wp-01 {
    border-bottom: 1px solid #000000;
}

.wp-01a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 30px;
}

.wp-02a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.wp-01a h1,
.wp-02a h1 {
    margin: 0;
}

.wp-01a h3,
.wp-02a h3 {
    margin: 0;
}

.working-process {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 5px 0px var(--color-dark);
    border: 1px solid var(--color-dark);
    border-radius: 45px;
    padding: 41px 60px;
    margin-top: 80px;
}

.working-process2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 5px 0px var(--color-dark);
    border: 1px solid var(--color-dark);
    border-radius: 45px;
    padding: 41px 60px;
    margin-top: 30px;
}

.working-process p {
    max-width: none;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 80px;
}

.team-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 5px 0px var(--color-dark);
    border: 1px solid var(--color-dark);
    border-radius: 45px;
    padding: 40px 35px;
    width: calc((100% - 80px) / 3);
    box-sizing: border-box;
}

.team-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--color-dark);
    padding-bottom: 28px;
}

.team {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.team-text h4 {
    font-size: 20px;
    margin: 0 0 5px 0;
}

.team-text p {
    font-size: 18px;
    margin: 0;
}

.social-icon {
    width: 34px;
}

.team-btn {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1536px) {
    .wp-01-white2 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .case-study {
        background-color: transparent;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    .case-study-text {
        background-color: var(--color-dark);
        padding: 60px 70px;
        border-radius: 45px;
    }

    .team-cards {
        width: calc((100% - 40px) / 2);
    }

    .wp-01-green {
        display: none;
    }

    .wp-01-white2 {
        display: flex;
    }

    .working-process2 {
        padding: 30px 40px;
        border-radius: 60px;
    }

    .wp-01a,
    .wp-02a {
        gap: 20px;
        min-width: 0;
    }

    .wp-01a h1,
    .wp-02a h1 {
        font-size: 45px;
    }

    .wp-01a h3,
    .wp-02a h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {
    .team-container {
        gap: 30px;
    }

    .team-cards {
        width: 100%;
    }

    .working-process2 {
        padding: 20px 25px;
        border-radius: 100px;
    }

    .wp-01a,
    .wp-02a {
        gap: 15px;
    }

    .wp-01a h1,
    .wp-02a h1 {
        font-size: 30px;
    }

    .wp-01a h3,
    .wp-02a h3 {
        font-size: 18px;
    }
}