@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
    gap: 50px;
}

.speaker2 {
    display: none;
}

.word {
    display: flex;
    align-items: left;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    font-weight: 500;
    max-width: 531px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
    font-weight: 400;
    max-width: 498px;
}

button {
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 20px 35px;
    border-radius: 14px;
    border: none;
    font-family: var(--font-main);
    font-size: 20px;
    margin-top: 35px;
}

.speaker {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.company {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px 15px;
    height: 100%;
    filter: grayscale(100%);
    flex-wrap: wrap;
}

.service-grids {
    display: flex;
    flex-wrap: wrap;
    margin: 80px -20px;
}

.card-wrapper {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 40px;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 5px 0px var(--color-dark);
    border: 1px solid var(--color-dark);
    border-radius: 45px;
    padding: 50px;
    height: 310px;
    width: 100%;
    box-sizing: border-box;
}

.card-white {
    background-color: var(--color-grey);
}

.card-green {
    background-color: var(--color-green);
}

.card-black {
    background-color: var(--color-dark);
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.service-cards h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.service-cards>img {
    max-width: 45%;
    height: auto;
}

.title {
    padding: 3px 7px;
    border-radius: 7px;
}

.arrow {
    width: 41px;
    height: 41px;
}

.learn-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: auto;
}

.learn-more img {
    width: 41px;
}

.learn-more p {
    margin: 0;
    font-size: 20px;
}

.proposal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-grey);
    border-radius: 45px;
    padding-left: 60px;
    height: 347px;
}

.proposal-text h3 {
    font-size: 30px;
    margin-top: 60px;
}

.proposal-text p {
    font-size: 18px;
}

.proposal-text button {
    margin-bottom: 60px;
}

.proposal2 {
    display: none;
}

.proposal img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: 100%;
    width: 100%;
}

.case-study {
    display: flex;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: 45px;
    gap: 64px;
    padding: 70px 60px;
    margin-top: 80px;
    font-size: 18px;
}

.case-study-text {
    border-right: 1px solid var(--color-light);
    padding-right: 64px;
}

.case-study-text:last-child {
    border-right: none;
}

.wp-01,
.wp-02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wp-01 {
    border-bottom: 1px solid #000000;
}

.wp-01a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 30px;
}

.wp-02a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.wp-01a h1,
.wp-02a h1 {
    margin: 0;
}

.wp-01a h3,
.wp-02a h3 {
    margin: 0;
}

.working-process {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 5px 0px var(--color-dark);
    border: 1px solid var(--color-dark);
    border-radius: 45px;
    padding: 41px 60px;
    margin-top: 80px;
}

.working-process p {
    max-width: none;
}

@media screen and (max-width: 1245px) {
    .request {
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    .company img {
        max-width: 100%;
        height: auto;
    }

    .header {
        flex-direction: column;
    }

    .speaker {
        display: none;
    }

    .speaker2 {
        display: block;
    }

    .card-wrapper {
        flex: 0 0 100%;
    }

    .service-cards h3 {
        font-size: 30px;
    }

    .service-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .service-cards {
        height: 310px;
        align-items: stretch;
    }

    .learn-more p {
        display: none;
    }

    .learn-more img {
        width: 100%;
    }

    .proposal img {
        display: none;
    }

    .proposal-text {
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {

    .services-header {
        flex-direction: column;
        text-align: center;
    }

    .service-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 35px;
        height: 280px;
        width: 100%;
    }

    .service-cards h3 {
        font-size: 24px;
    }

    .service-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .proposal-text {
        flex-direction: column;
        text-align: start;
        padding-right: 60px;
        margin: 0;
    }

    .proposal1 {
        display: none;
    }

    .proposal2 {
        display: flex;
        margin-top: 20px;
    }
}